/**********************************
    SECTION 1 CSS
***********************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    font-size: 62.5%; /* 16px*62.5% =10 rem */
}

body{
    font: 1.6rem "Roboto",sans-serif;
    margin: 0;
    letter-spacing: .1rem;
    line-height: 1.6;
    background-color: var(--theme--bg--color);
}
h1,h2,h3,p,figure,ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}
icon-icon{
    vertical-align: -0.5rem;
}
/*scrool bar*/
*{
    /* ff */
    scrollbar-width: thin;
    scrollbar-color: #fff #222;
 }
 /* webkit */
 ::-webkit-scrollbar {
    width: 1rem;
  }
   
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .1rem rgba(244, 243, 240, 0.3);
  }
   
 ::-webkit-scrollbar-thumb {
    background-color: rgb(39, 56, 78);
    outline: .1rem solid rgb(30, 30, 1);
  }